.foto-cliente{
    height: 320px;
    border-radius: 8%;
    border-color: black;
    opacity: 98%;

     display: inherit;

}

.contenedor-clientes{
    opacity: 90%;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(59, 58, 58);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height:  500px;
}