.Img-soga{
    border-radius: 5%;
    border-color: black;
    opacity: 98%;
     width: 100%;
     height: 100%;
    display: inherit;
    
    
}

.contenedor-principal{
   
}

.cartel-detalle{
    opacity: 85%;
    font-family:'Aleo',Georgia,"Times New Roman",serif;
    font-weight: bolder;
    font-size: 22px;
    background-color: rgb(59, 58, 58);
    color: rgb(245, 237, 237);

}


#Icono:hover{
 
   
   
    -webkit-transform:  translate(-20px,-10px)  rotate(-5deg) ;

   
}

